---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white font-serif text-gray-900">
		<Header />
		<main class="max-w-3xl mx-auto px-4 py-12">
			<div class="prose prose-lg max-w-none">
				<p>
What do such machines really do? They increase the number of things we can do without thinking. Things we do without thinking—there's the real danger.
				</p>
        <p class="font-sans">
          Leto II
        </p>
			</div>
		</main>
	</body>
</html>
